body1 {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center1 {
    text-align: center;
}

.text-big1 {
    font-size: 300%;
}

.bold1 {
    font-weight: bold;
}

.img-medium1 {
    height: 200px;
}

.color1 {
    text-align: center;
    color: blue;
}
